@font-face {
  font-family: 'Exo2';
  src: url('Exo2.0-Thin.otf');
  font-style: normal;
  font-weight: 100;
}

.app {
  width: 100%;
  height: 100%;
  font-family: 'Exo2', 'Arial', sans-serif;
}

.bg-wrapper {
  height: 100%;
  background:
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%),
    url('./background.png') repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: -75px 0 45px 0;
  text-align: center;
  color: #fff;
  font-size: 44px;
}

@media only screen and (max-width: 1080px) {
  .bg-wrapper {
    height: auto;
  }
  .title {
    margin: 20px 0;
  }
}
