@import '../../styles/common/variables';

.product-item {
  font-family: $article-font;
  width: 320px;
  margin: 0 40px;
  &__article {
    position: relative;
  }
  &__description {
    min-height: 42px;
    color: #fff;
    text-align: center;
    padding: 10px 0 40px 0;
    font-size: 13px;
    &--disabled {
      color: #FFFF66;
    }
  }
  &__link {
    padding: 0;
    border: none;
    border-bottom: 1px dashed $color-default;
    background: none;
    color: $color-default;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 480px;
  border-radius: 12px;
  cursor: pointer;
  background:
    url('../../img/cat.png') no-repeat left bottom,
    linear-gradient(135deg, transparent 45px, #f2f2f2 0);
  &__border {
    position: absolute;
    top: 0;
    left: 0;
    fill: transparent;
    stroke-width: 5;
    stroke: $color-default;
    &--onClick {
      stroke: $color-onClick;
    }
    &--disabled {
      fill: rgba(179, 179, 179, 0.5);
      stroke: #b3b3b3;
    }
  }
  &__top-wrapper {
    padding-left: 20px;
    width: 215px;
    margin: 0 auto;
  }
  &__bottom-wrapper {
    position: absolute;
    margin: 0 12px 14px 0;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: $color-default;
    bottom: 0;
    right: 0;
    &--onClick {
      background-color: $color-onClick;
    }
    &--disabled {
      background-color: rgba(140, 136, 136, 0.9);
    }
  }
}

.text {
  &__top {
    margin: 22px 0 5px 0;
    font-size: 16px;
    color: #666666
  }
  &__header {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
  }
  &__header-after {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  &__bottom {
    font-size: 16px;
    line-height: 14px;
    color: #666666;
  }
}

@media only screen and (min-width: 320px) {
  .product-item {
    margin: 0;
    &__description {
      padding-bottom: 15px;
    }
  }
}

@media only screen and (min-width: 640px) {
  .product-item {
    margin: 0 20px;
  }
}

